#nav{
margin-left:10px;
padding-top:10px;
line-height:10px;
margin-right:10px;
margin-top:10px;
}
body{background:skyblue; font-size:17px;}
.content_wrapper{
width:300px;
height:800px;
background:gray;
float:right;
}
#cat a:hover{color:blue; font-size:22px; font-weight:bold; />
}
#cat a{text-decoration:none;
text-align:center;
padding-left:40px;
margin-left:40px;}
.content_left{
width:1000px;
height:1000px;
background:gray;
}
#cart{
height:100px;
background:black;
}
#first  img{border:2px solid black;}
#first{float:left;margin-left:20px;padding:10px;}
.sidebar{
width:200px;
height:100px;
}
